doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
            body (width: 1080px)
    body 
        include ./header.pug
        h1 this is Content page ~~!!
        include ./footer.pug